.class1{color:#000000;font-size:13;font-family:Arial;}
   #grid {
   display: grid;
   grid-template-rows: 1fr ;
   grid-template-columns: 200px ;
   grid-gap: 2px;
   }
div {text-align: center}   
h1 {text-align: center}   
button {text-align: center;
width: 150px;}
#grid > div {
   font-size: 3vw;
   padding: .3em;
   background: gold;
   text-align: center;
}
.Beline { 
   background-color: yellow;
   border: 5px solid yelow;
   }
.Megafon { color: white;
      background-color: green;
      border: 5px solid yelow;
      } 
.Tele2 { color: white;
   background-color: black;

}       